<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
      <link rel="stylesheet" href="/Portfoilio.css">
</head>
<body>
      <h1>Portfoilio Website</h1>
        <hr>
          <h2><span class="email"> Hello User your Email id is : <%-data.Email_Id %></h2></span></h2>
         
</body>
</html>