<!-- views/form.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
</head>
<body>

  <h2>Signup Form</h2>

  <form action="/saveform" method="get">
    <input type="text" name="name" placeholder="Enter Name" required><br><br>
    
    <input type="email" name="email" placeholder="Enter Email" required><br><br>
    
    <input type="password" name="password" placeholder="Enter Password" required><br><br>
    
    <button type="submit">Submit</button>
  </form>

</body>
</html>